In [5]:
import pandas as pd
import numpy as np
import os
import sys
import logging

In [6]:
module_path =os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path+"\\scripts")

if module_path not in sys.path:
    sys.path.append(module_path+"\\model")



logging.basicConfig(filename='../logs/preprocessnotebook.log', filemode='w', format='%(asctime)s - %(name)s - %(levelname)s - %(message)s',level=logging.DEBUG)

In [8]:
from preprocess import PREPROCESS
from dvc_data import DVCDATA

In [10]:
instance=DVCDATA()
data,dataurl,version=instance.get_data('Holiday Tech','data/holidays.csv','https://github.com/Blvisse/Pharmtec_Sales','maindata-v1')

Fetching data from Repo ...

INFO: 'Holiday Tech' does not exist. Creating a new experiment
Converting into dataframe

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Logging data deatails to mlflow

Done....

In [11]:
data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Week,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Year,daysAfter,DaysBefore,Weekend
0,1,5,2015-07-31,5263,555,1,1,0,1,31,...,2008.0,0,0.0,0.0,0,7,2015,57,0,0
1,2,5,2015-07-31,6064,625,1,1,0,1,31,...,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",7,2015,57,0,0
2,3,5,2015-07-31,8314,821,1,1,0,1,31,...,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",7,2015,57,0,0
3,4,5,2015-07-31,13995,1498,1,1,0,1,31,...,2009.0,0,0.0,0.0,0,7,2015,57,0,0
4,5,5,2015-07-31,4822,559,1,1,0,1,31,...,2015.0,0,0.0,0.0,0,7,2015,57,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,1,...,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",1,2013,0,0,0
1017205,1112,2,2013-01-01,0,0,0,0,a,1,1,...,2006.0,0,0.0,0.0,0,1,2013,0,0,0
1017206,1113,2,2013-01-01,0,0,0,0,a,1,1,...,2010.0,0,0.0,0.0,0,1,2013,0,0,0
1017207,1114,2,2013-01-01,0,0,0,0,a,1,1,...,2010.0,0,0.0,0.0,0,1,2013,0,0,0
1017208,1115,2,2013-01-01,0,0,0,0,a,1,1,...,2010.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,2013,0,0,0

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 25 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   Week                       1017209 non-null  int64
 10  Sales_per_Customer         1017209 non-null  float64
 11  StoreType                  1017209 non-null  object
 12  Assortment                 1017209 non-null  object
 13  CompetitionDistance        1017209 non-null  float64
 14  CompetitionOpenSinceMonth  1017209 non-null  float64
 15  CompetitionOpenSinceYear   1017209 non-null  float64
 16  Promo2                     1017209 non-null  int64
 17  Promo2SinceWeek            1017209 non-null  float64
 18  Promo2SinceYear            1017209 non-null  float64
 19  PromoInterval              1017209 non-null  object
 20  Month                      1017209 non-null  int64
 21  Year                       1017209 non-null  int64
 22  daysAfter                  1017209 non-null  int64
 23  DaysBefore                 1017209 non-null  int64
 24  Weekend                    1017209 non-null  int64
dtypes: float64(6), int64(14), object(5)
memory usage: 194.0+ MB

In [24]:
preInstance=PREPROCESS()

catcols=['StateHoliday','PromoInterval']
ordCols=['StoreType','Assortment']
preInstance.laeblEncoding(data,catcols)
data

------- Acessing label encoding Functoin -----------
--- Encoding columns ---

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Week,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Year,daysAfter,DaysBefore,Weekend
0,1,5,2015-07-31,5263,555,1,1,0,1,31,...,2008.0,0,0.0,0.0,0,7,2015,57,0,0
1,2,5,2015-07-31,6064,625,1,1,0,1,31,...,2007.0,1,13.0,2010.0,2,7,2015,57,0,0
2,3,5,2015-07-31,8314,821,1,1,0,1,31,...,2006.0,1,14.0,2011.0,2,7,2015,57,0,0
3,4,5,2015-07-31,13995,1498,1,1,0,1,31,...,2009.0,0,0.0,0.0,0,7,2015,57,0,0
4,5,5,2015-07-31,4822,559,1,1,0,1,31,...,2015.0,0,0.0,0.0,0,7,2015,57,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,2,1,1,...,2014.0,1,31.0,2013.0,2,1,2013,0,0,0
1017205,1112,2,2013-01-01,0,0,0,0,2,1,1,...,2006.0,0,0.0,0.0,0,1,2013,0,0,0
1017206,1113,2,2013-01-01,0,0,0,0,2,1,1,...,2010.0,0,0.0,0.0,0,1,2013,0,0,0
1017207,1114,2,2013-01-01,0,0,0,0,2,1,1,...,2010.0,0,0.0,0.0,0,1,2013,0,0,0
1017208,1115,2,2013-01-01,0,0,0,0,2,1,1,...,2010.0,1,22.0,2012.0,3,1,2013,0,0,0

In [25]:
preInstance.ordinalEncodings(data,ordCols)

----- Accessing the ordinal function ------------
Encoding columns

In [26]:
data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Week,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Year,daysAfter,DaysBefore,Weekend
0,1,5,2015-07-31,5263,555,1,1,0,1,31,...,2008.0,0,0.0,0.0,0,7,2015,57,0,0
1,2,5,2015-07-31,6064,625,1,1,0,1,31,...,2007.0,1,13.0,2010.0,2,7,2015,57,0,0
2,3,5,2015-07-31,8314,821,1,1,0,1,31,...,2006.0,1,14.0,2011.0,2,7,2015,57,0,0
3,4,5,2015-07-31,13995,1498,1,1,0,1,31,...,2009.0,0,0.0,0.0,0,7,2015,57,0,0
4,5,5,2015-07-31,4822,559,1,1,0,1,31,...,2015.0,0,0.0,0.0,0,7,2015,57,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,2,1,1,...,2014.0,1,31.0,2013.0,2,1,2013,0,0,0
1017205,1112,2,2013-01-01,0,0,0,0,2,1,1,...,2006.0,0,0.0,0.0,0,1,2013,0,0,0
1017206,1113,2,2013-01-01,0,0,0,0,2,1,1,...,2010.0,0,0.0,0.0,0,1,2013,0,0,0
1017207,1114,2,2013-01-01,0,0,0,0,2,1,1,...,2010.0,0,0.0,0.0,0,1,2013,0,0,0
1017208,1115,2,2013-01-01,0,0,0,0,2,1,1,...,2010.0,1,22.0,2012.0,3,1,2013,0,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 25 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  int8
 8   SchoolHoliday              1017209 non-null  int64
 9   Week                       1017209 non-null  int64
 10  Sales_per_Customer         1017209 non-null  float64
 11  StoreType                  1017209 non-null  object
 12  Assortment                 1017209 non-null  object
 13  CompetitionDistance        1017209 non-null  float64
 14  CompetitionOpenSinceMonth  1017209 non-null  float64
 15  CompetitionOpenSinceYear   1017209 non-null  float64
 16  Promo2                     1017209 non-null  int64
 17  Promo2SinceWeek            1017209 non-null  float64
 18  Promo2SinceYear            1017209 non-null  float64
 19  PromoInterval              1017209 non-null  int8
 20  Month                      1017209 non-null  int64
 21  Year                       1017209 non-null  int64
 22  daysAfter                  1017209 non-null  int64
 23  DaysBefore                 1017209 non-null  int64
 24  Weekend                    1017209 non-null  int64
dtypes: float64(6), int64(14), int8(2), object(3)
memory usage: 180.4+ MB