In [1]:
import pandas as pd
import numpy as np
import os
import sys
import logging

In [2]:
module_path =os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path+"\\scripts")

if module_path not in sys.path:
    sys.path.append(module_path+"\\model")



logging.basicConfig(filename='../logs/preprocessnotebook.log', filemode='w', format='%(asctime)s - %(name)s - %(levelname)s - %(message)s',level=logging.DEBUG)

In [3]:
from preprocess import PREPROCESS
from dvc_data import DVCDATA

In [5]:
instance=DVCDATA()
datar,dataurl,version=instance.get_data('Holiday Tech','data/Merged.csv','https://github.com/Blvisse/Pharmtec_Sales','maindata-v2')

Fetching data from Repo ...

Converting into dataframe

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Logging data deatails to mlflow

Done....

In [6]:
datar

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Week,...,Promo2SinceYear,PromoInterval,Month,Year,daysAfter,DaysBefore,Weekend,CompetitionOpen,Promo2Open,IsPromo2Month
0,1,5,2015-07-31,5263,555,1,1,0,1,31,...,0.0,0,7,2015,57,0,0,82.0,0.000000,0
1,2,5,2015-07-31,6064,625,1,1,0,1,31,...,2010.0,"Jan,Apr,Jul,Oct",7,2015,57,0,0,92.0,64.131148,1
2,3,5,2015-07-31,8314,821,1,1,0,1,31,...,2011.0,"Jan,Apr,Jul,Oct",7,2015,57,0,0,103.0,51.901639,1
3,4,5,2015-07-31,13995,1498,1,1,0,1,31,...,0.0,0,7,2015,57,0,0,70.0,0.000000,0
4,5,5,2015-07-31,4822,559,1,1,0,1,31,...,0.0,0,7,2015,57,0,0,3.0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,1,...,2013.0,"Jan,Apr,Jul,Oct",1,2013,0,0,0,0.0,0.000000,0
1017205,1112,2,2013-01-01,0,0,0,0,a,1,1,...,0.0,0,1,2013,0,0,0,81.0,0.000000,0
1017206,1113,2,2013-01-01,0,0,0,0,a,1,1,...,0.0,0,1,2013,0,0,0,29.0,0.000000,0
1017207,1114,2,2013-01-01,0,0,0,0,a,1,1,...,0.0,0,1,2013,0,0,0,29.0,0.000000,0
1017208,1115,2,2013-01-01,0,0,0,0,a,1,1,...,2012.0,"Mar,Jun,Sept,Dec",1,2013,0,0,0,29.0,7.180328,0

In [31]:
data['CompetitionOpen']=12*(data['Year']-data['CompetitionOpenSinceYear'])+(data['Month']-data['CompetitionOpenSinceMonth'])

In [33]:
data['CompetitionOpen']=data['CompetitionOpen'].apply(lambda x:0 if x<0 else x)

In [34]:
data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Week,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Year,daysAfter,DaysBefore,Weekend,CompetitionOpen
0,1,5,2015-07-31,5263,555,1,1,0,1,31,...,0,0.0,0.0,0,7,2015,57,0,0,82.0
1,2,5,2015-07-31,6064,625,1,1,0,1,31,...,1,13.0,2010.0,"Jan,Apr,Jul,Oct",7,2015,57,0,0,92.0
2,3,5,2015-07-31,8314,821,1,1,0,1,31,...,1,14.0,2011.0,"Jan,Apr,Jul,Oct",7,2015,57,0,0,103.0
3,4,5,2015-07-31,13995,1498,1,1,0,1,31,...,0,0.0,0.0,0,7,2015,57,0,0,70.0
4,5,5,2015-07-31,4822,559,1,1,0,1,31,...,0,0.0,0.0,0,7,2015,57,0,0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,1,...,1,31.0,2013.0,"Jan,Apr,Jul,Oct",1,2013,0,0,0,0.0
1017205,1112,2,2013-01-01,0,0,0,0,a,1,1,...,0,0.0,0.0,0,1,2013,0,0,0,81.0
1017206,1113,2,2013-01-01,0,0,0,0,a,1,1,...,0,0.0,0.0,0,1,2013,0,0,0,29.0
1017207,1114,2,2013-01-01,0,0,0,0,a,1,1,...,0,0.0,0.0,0,1,2013,0,0,0,29.0
1017208,1115,2,2013-01-01,0,0,0,0,a,1,1,...,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,2013,0,0,0,29.0

In [37]:
def check_promo_month(row):#check if promo is given in the particular month
    month2str = {1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun',              
                 7:'Jul', 8:'Aug', 9:'Sept', 10:'Oct', 11:'Nov', 12:'Dec'}
    try:
        months = (row['PromoInterval'] or '').split(',')
        if(row['Promo2Open'] and month2str[row['Month']] in months):
            return 1
        else:
            return 0
    except:
        return 0
    
def promo_cols(data): #calculate duration of promotion(in months)
    data['Promo2Open'] = 12 * (data.Year - data.Promo2SinceYear) + (data.Week - data.Promo2SinceWeek)*7/30.5
    data['Promo2Open'] = data['Promo2Open'].apply(lambda x: 0 if x < 0 else x).fillna(0)*data['Promo2']#only when there is promo
    #whether a new round of promotion started in curent month
    data['IsPromo2Month'] = data.apply(check_promo_month, axis=1) * data['Promo2']

In [38]:
promo_cols(data)

In [39]:
data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Week,...,Promo2SinceYear,PromoInterval,Month,Year,daysAfter,DaysBefore,Weekend,CompetitionOpen,Promo2Open,IsPromo2Month
0,1,5,2015-07-31,5263,555,1,1,0,1,31,...,0.0,0,7,2015,57,0,0,82.0,0.000000,0
1,2,5,2015-07-31,6064,625,1,1,0,1,31,...,2010.0,"Jan,Apr,Jul,Oct",7,2015,57,0,0,92.0,64.131148,1
2,3,5,2015-07-31,8314,821,1,1,0,1,31,...,2011.0,"Jan,Apr,Jul,Oct",7,2015,57,0,0,103.0,51.901639,1
3,4,5,2015-07-31,13995,1498,1,1,0,1,31,...,0.0,0,7,2015,57,0,0,70.0,0.000000,0
4,5,5,2015-07-31,4822,559,1,1,0,1,31,...,0.0,0,7,2015,57,0,0,3.0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,1,...,2013.0,"Jan,Apr,Jul,Oct",1,2013,0,0,0,0.0,0.000000,0
1017205,1112,2,2013-01-01,0,0,0,0,a,1,1,...,0.0,0,1,2013,0,0,0,81.0,0.000000,0
1017206,1113,2,2013-01-01,0,0,0,0,a,1,1,...,0.0,0,1,2013,0,0,0,29.0,0.000000,0
1017207,1114,2,2013-01-01,0,0,0,0,a,1,1,...,0.0,0,1,2013,0,0,0,29.0,0.000000,0
1017208,1115,2,2013-01-01,0,0,0,0,a,1,1,...,2012.0,"Mar,Jun,Sept,Dec",1,2013,0,0,0,29.0,7.180328,0

In [40]:
data.to_csv('../data/Merged.csv',index=False)

In [41]:
data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Week,...,Promo2SinceYear,PromoInterval,Month,Year,daysAfter,DaysBefore,Weekend,CompetitionOpen,Promo2Open,IsPromo2Month
0,1,5,2015-07-31,5263,555,1,1,0,1,31,...,0.0,0,7,2015,57,0,0,82.0,0.000000,0
1,2,5,2015-07-31,6064,625,1,1,0,1,31,...,2010.0,"Jan,Apr,Jul,Oct",7,2015,57,0,0,92.0,64.131148,1
2,3,5,2015-07-31,8314,821,1,1,0,1,31,...,2011.0,"Jan,Apr,Jul,Oct",7,2015,57,0,0,103.0,51.901639,1
3,4,5,2015-07-31,13995,1498,1,1,0,1,31,...,0.0,0,7,2015,57,0,0,70.0,0.000000,0
4,5,5,2015-07-31,4822,559,1,1,0,1,31,...,0.0,0,7,2015,57,0,0,3.0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,1,...,2013.0,"Jan,Apr,Jul,Oct",1,2013,0,0,0,0.0,0.000000,0
1017205,1112,2,2013-01-01,0,0,0,0,a,1,1,...,0.0,0,1,2013,0,0,0,81.0,0.000000,0
1017206,1113,2,2013-01-01,0,0,0,0,a,1,1,...,0.0,0,1,2013,0,0,0,29.0,0.000000,0
1017207,1114,2,2013-01-01,0,0,0,0,a,1,1,...,0.0,0,1,2013,0,0,0,29.0,0.000000,0
1017208,1115,2,2013-01-01,0,0,0,0,a,1,1,...,2012.0,"Mar,Jun,Sept,Dec",1,2013,0,0,0,29.0,7.180328,0

In [43]:
data.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Week', 'Sales_per_Customer',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'Month', 'Year',
       'daysAfter', 'DaysBefore', 'Weekend', 'CompetitionOpen', 'Promo2Open',
       'IsPromo2Month'],
      dtype='object')

In [ ]:
drop=['Date','Customers','Open','CompetitionOpenSinceMonth','CompetitionOpenSinceYear','Promo2inceWeek','Promo2SinceYear','PromoInterval']

In [24]:
preInstance=PREPROCESS()
In
preInstance.laeblEncoding(data,catcols)
data

------- Acessing label encoding Functoin -----------
--- Encoding columns ---

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Week,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Year,daysAfter,DaysBefore,Weekend
0,1,5,2015-07-31,5263,555,1,1,0,1,31,...,2008.0,0,0.0,0.0,0,7,2015,57,0,0
1,2,5,2015-07-31,6064,625,1,1,0,1,31,...,2007.0,1,13.0,2010.0,2,7,2015,57,0,0
2,3,5,2015-07-31,8314,821,1,1,0,1,31,...,2006.0,1,14.0,2011.0,2,7,2015,57,0,0
3,4,5,2015-07-31,13995,1498,1,1,0,1,31,...,2009.0,0,0.0,0.0,0,7,2015,57,0,0
4,5,5,2015-07-31,4822,559,1,1,0,1,31,...,2015.0,0,0.0,0.0,0,7,2015,57,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,2,1,1,...,2014.0,1,31.0,2013.0,2,1,2013,0,0,0
1017205,1112,2,2013-01-01,0,0,0,0,2,1,1,...,2006.0,0,0.0,0.0,0,1,2013,0,0,0
1017206,1113,2,2013-01-01,0,0,0,0,2,1,1,...,2010.0,0,0.0,0.0,0,1,2013,0,0,0
1017207,1114,2,2013-01-01,0,0,0,0,2,1,1,...,2010.0,0,0.0,0.0,0,1,2013,0,0,0
1017208,1115,2,2013-01-01,0,0,0,0,2,1,1,...,2010.0,1,22.0,2012.0,3,1,2013,0,0,0

In [25]:
preInstance.ordinalEncodings(data,ordCols)

----- Accessing the ordinal function ------------
Encoding columns

In [26]:
data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Week,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Year,daysAfter,DaysBefore,Weekend
0,1,5,2015-07-31,5263,555,1,1,0,1,31,...,2008.0,0,0.0,0.0,0,7,2015,57,0,0
1,2,5,2015-07-31,6064,625,1,1,0,1,31,...,2007.0,1,13.0,2010.0,2,7,2015,57,0,0
2,3,5,2015-07-31,8314,821,1,1,0,1,31,...,2006.0,1,14.0,2011.0,2,7,2015,57,0,0
3,4,5,2015-07-31,13995,1498,1,1,0,1,31,...,2009.0,0,0.0,0.0,0,7,2015,57,0,0
4,5,5,2015-07-31,4822,559,1,1,0,1,31,...,2015.0,0,0.0,0.0,0,7,2015,57,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,2,1,1,...,2014.0,1,31.0,2013.0,2,1,2013,0,0,0
1017205,1112,2,2013-01-01,0,0,0,0,2,1,1,...,2006.0,0,0.0,0.0,0,1,2013,0,0,0
1017206,1113,2,2013-01-01,0,0,0,0,2,1,1,...,2010.0,0,0.0,0.0,0,1,2013,0,0,0
1017207,1114,2,2013-01-01,0,0,0,0,2,1,1,...,2010.0,0,0.0,0.0,0,1,2013,0,0,0
1017208,1115,2,2013-01-01,0,0,0,0,2,1,1,...,2010.0,1,22.0,2012.0,3,1,2013,0,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 25 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  int8
 8   SchoolHoliday              1017209 non-null  int64
 9   Week                       1017209 non-null  int64
 10  Sales_per_Customer         1017209 non-null  float64
 11  StoreType                  1017209 non-null  object
 12  Assortment                 1017209 non-null  object
 13  CompetitionDistance        1017209 non-null  float64
 14  CompetitionOpenSinceMonth  1017209 non-null  float64
 15  CompetitionOpenSinceYear   1017209 non-null  float64
 16  Promo2                     1017209 non-null  int64
 17  Promo2SinceWeek            1017209 non-null  float64
 18  Promo2SinceYear            1017209 non-null  float64
 19  PromoInterval              1017209 non-null  int8
 20  Month                      1017209 non-null  int64
 21  Year                       1017209 non-null  int64
 22  daysAfter                  1017209 non-null  int64
 23  DaysBefore                 1017209 non-null  int64
 24  Weekend                    1017209 non-null  int64
dtypes: float64(6), int64(14), int8(2), object(3)
memory usage: 180.4+ MB